---
import type { ExternalRatings } from "../data/types";

type Props = {
  ratings: ExternalRatings;
};

const { ratings } = Astro.props;
---

<div class="meta-line">
  {ratings.bangumi && <span class="rating">Bangumi {ratings.bangumi.score}{ratings.bangumi.rank ? ` / #${ratings.bangumi.rank}` : ""}</span>}
  {ratings.anilist?.averageScore && <span class="rating">AniList {ratings.anilist.averageScore}</span>}
</div>

